body{
    margin: 0%;
    padding: 0%;
    text-align: center;
    background-color: lightblue;
    
}
.dflex{

    display: flex;
    flex-direction: column;
    /* fle: center; */
    align-items: center;
    
}
input {
    border: pink;
    width: 100px;
    height: 40px;
    font-size: 18px;

}

button {
    width: 100px;
    height: 40px;
    font-size: 18px;
    margin: 5px;
}
select{
    width: 50px;
    margin: 20px;
}


